<div class="navbar">
    <div class="logo">
      <img src="../../assets/images.jpeg" alt="Your Logo" class="logo-image">
    </div>
    <div class="nav-links">
      <ul>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/plans">Plans</a></li>
        <li><a routerLink="/subscribers">Subscribers</a></li>
        <li><a routerLink="/history">History</a></li>
        <li><a routerLink="/planform">Add Plan</a></li>
        
      </ul>
    </div>
    <div class="admin">
      <img src="../../assets/image.PNG" alt="Admin Logo" class="admin-image">
      <span class="admin-name">Admin</span>
    </div>
  </div>
  