
  .row {
    display: flex;
    justify-content:space-evenly; 
  }
  
  .chart-container {
    flex: 1;
    padding: 5px;
    text-align: center;
    max-width: 300px;
  }
  
  .center-dropdown {
    text-align: center;
  }
  
  #myBar {
    order: 1;
  }
  
  #myChart {
    order: 2;
  }

  
  .chart-box {
    border: 2px solid #ccc;
    padding: 15px;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
  }
  
  .chart-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
     


    