<div class="button-container">
  <button routerLink="/calls">Call History</button>
  <button routerLink="/data">Data</button>
</div>
<br>
<br>
<h3 style="text-align: center; color: chartreuse;">Text Records</h3>
<div class="table-container">
<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Time</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let text of text">
        <td>{{ text.name }}</td>
        <td>{{ text.phoneNumber }}</td>
        <td>{{ text.time }}</td>
        <td>{{ text.date }}</td>
      </tr>
    </tbody>
  </table>
  
</div>