<div class="data-box-container">
    <div class="consumed-data-box">
        <p style="font-size: 16px; font-style:inherit; color: rgb(2, 2, 2);">Total Subscribers:</p>
        <p style="font-size: 16px; font-style:inherit; color: rgb(2, 2, 2);">{{totalSubscribers}}</p>
    </div>
    <div class="consumed-data-box2">
        <p style="font-size: 16px; font-style:inherit; color: rgb(2, 2, 2);">Total Revenue</p>
        <p style="font-size: 16px; font-style:inherit; color: rgb(2, 2, 2);">{{totalRevenue}} Rs</p>
    </div>
    <div class="consumed-data-box3">
        <p style="font-size: 16px; font-style:inherit; color: rgb(2, 2, 2);">Average Call Duration</p>
        <p style="font-size: 16px; font-style:inherit; color: rgb(2, 2, 2);">{{averagecallduration }} Minutes</p>
    </div>
    <div class="consumed-data-box3">
        <p style="font-size: 16px; font-style:inherit; color: rgb(2, 2, 2);">Average SMS</p>
        <p style="font-size: 16px; font-style:inherit; color: rgb(2, 2, 2);">12 sms</p>
    </div>

    <div class="consumed-data-box1">
        <p style="font-size: 16px; font-style:inherit; color: rgb(2, 2, 2);">Total Consumed Data</p>
        <p style="font-size: 16px; font-style:inherit; color: rgb(2, 2, 2);">{{consumedData}} gb</p>
    </div>
</div>
