<div class="data-box-container">
    <div class="consumed-data-box">
        <p>Total Subscribers:</p>
        <p>{{totalSubscribers}}</p>
    </div>
    <div class="consumed-data-box2">
        <p>Total Revenue</p>
        <p>{{totalRevenue}} Rs</p>
    </div>
    <div class="consumed-data-box3">
        <p>Average Call Duration</p>
        <p>{{averagecallduration }} Minutes</p>
    </div>
    <div class="consumed-data-box3">
        <p>Average SMS</p>
        <p>12 sms</p>
    </div>

    <div class="consumed-data-box1">
        <p>Total Consumed Data</p>
        <p>{{consumedData}} gb</p>
    </div>
</div>
