/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
body {
  background-image: url('../src/assets/background-bluee.jpg');
  background-size: cover; /* You can adjust this according to your needs */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional, for a fixed background */
}
